.project
.classpath
.settings/
target/archive-tmp/
target/classes/
target/maven-status/
target/test-classes/
*/target/
.DS_Store
._*
spooned/
.idea
*.iml
*.log
*.log.*
*.txt
src/main/resources/*.java
annotation-cache
tedd/src/main/resources/app.properties
package.box
